<div
  role="tooltip"
  [attr.id]="tooltipId()"
  class="fixed z-50 max-h-min rounded-lg bg-info-500 !p-2 text-sm font-400 leading-5 tracking-[0.25px] text-white opacity-0 transition-opacity motion-reduce:transition-none {{
    positionClass()
  }}"
  [class.opacity-100]="visible()"
  [style.width.px]="width()"
  [style.left.px]="left()"
  [style.top.px]="top()"
>
  <span
    class="absolute z-10 h-1.5 w-1.5 rotate-45 rounded-sm bg-info-500 {{ caretPositionClass() }}"
    aria-hidden="true"
  ></span>
  @if (heading()) {
    <span class="!mb-1 block text-paragraph-md font-500 text-white">{{ heading() }}</span>
  }
  @if (template(); as tpl) {
    <ng-container [ngTemplateOutlet]="tpl"></ng-container>
  } @else if (text()) {
    {{ text() }}
  }
</div>
